body {
    font-family: 'Righteous', cursive;
    /* font-size: 1.2em; */
    text-shadow: 1px 1px 1px grey;
}

.body_bg_1{ background: linear-gradient(215deg, rgba(156, 156, 156, 0.03) 0%, rgba(156, 156, 156, 0.03) 50%,rgba(20, 20, 20, 0.03) 50%, rgba(20, 20, 20, 0.03) 100%),linear-gradient(107deg, rgba(179, 179, 179, 0.03) 0%, rgba(179, 179, 179, 0.03) 50%,rgba(7, 7, 7, 0.03) 50%, rgba(7, 7, 7, 0.03) 100%),linear-gradient(25deg, rgba(30, 30, 30, 0.01) 0%, rgba(30, 30, 30, 0.01) 50%,rgba(165, 165, 165, 0.01) 50%, rgba(165, 165, 165, 0.01) 100%),linear-gradient(146deg, rgba(54, 54, 54, 0.03) 0%, rgba(54, 54, 54, 0.03) 50%,rgba(246, 246, 246, 0.03) 50%, rgba(246, 246, 246, 0.03) 100%),linear-gradient(225deg, rgba(8, 8, 8, 0.01) 0%, rgba(8, 8, 8, 0.01) 50%,rgba(133, 133, 133, 0.01) 50%, rgba(133, 133, 133, 0.01) 100%),linear-gradient(38deg, rgba(57, 57, 57, 0.02) 0%, rgba(57, 57, 57, 0.02) 50%,rgba(196, 196, 196, 0.02) 50%, rgba(196, 196, 196, 0.02) 100%),linear-gradient(122deg, rgba(115, 115, 115, 0.02) 0%, rgba(115, 115, 115, 0.02) 50%,rgba(101, 101, 101, 0.02) 50%, rgba(101, 101, 101, 0.02) 100%),linear-gradient(154deg, rgba(217, 217, 217, 0.01) 0%, rgba(217, 217, 217, 0.01) 50%,rgba(126, 126, 126, 0.01) 50%, rgba(126, 126, 126, 0.01) 100%),linear-gradient(144deg, rgba(204, 204, 204, 0.01) 0%, rgba(204, 204, 204, 0.01) 50%,rgba(139, 139, 139, 0.01) 50%, rgba(139, 139, 139, 0.01) 100%),linear-gradient(90deg, rgb(0, 2, 29),rgb(4, 150, 89));}
.body_bg_2{ background: linear-gradient(201deg, rgba(148, 148, 148, 0.07) 0%, rgba(148, 148, 148, 0.07) 50%,rgba(83, 83, 83, 0.07) 50%, rgba(83, 83, 83, 0.07) 100%),linear-gradient(192deg, rgba(176, 176, 176, 0.08) 0%, rgba(176, 176, 176, 0.08) 50%,rgba(180, 180, 180, 0.08) 50%, rgba(180, 180, 180, 0.08) 100%),linear-gradient(48deg, rgba(185, 185, 185, 0.1) 0%, rgba(185, 185, 185, 0.1) 50%,rgba(243, 243, 243, 0.1) 50%, rgba(243, 243, 243, 0.1) 100%),linear-gradient(65deg, rgba(172, 172, 172, 0.09) 0%, rgba(172, 172, 172, 0.09) 50%,rgba(209, 209, 209, 0.09) 50%, rgba(209, 209, 209, 0.09) 100%),linear-gradient(4deg, rgba(224, 224, 224, 0.03) 0%, rgba(224, 224, 224, 0.03) 50%,rgba(49, 49, 49, 0.03) 50%, rgba(49, 49, 49, 0.03) 100%),linear-gradient(228deg, rgba(152, 152, 152, 0.03) 0%, rgba(152, 152, 152, 0.03) 50%,rgba(130, 130, 130, 0.03) 50%, rgba(130, 130, 130, 0.03) 100%),linear-gradient(163deg, rgba(170, 170, 170, 0.08) 0%, rgba(170, 170, 170, 0.08) 50%,rgba(232, 232, 232, 0.08) 50%, rgba(232, 232, 232, 0.08) 100%),linear-gradient(152deg, rgba(12, 12, 12, 0.05) 0%, rgba(12, 12, 12, 0.05) 50%,rgba(161, 161, 161, 0.05) 50%, rgba(161, 161, 161, 0.05) 100%),linear-gradient(302deg, rgba(48, 48, 48, 0.1) 0%, rgba(48, 48, 48, 0.1) 50%,rgba(195, 195, 195, 0.1) 50%, rgba(195, 195, 195, 0.1) 100%),linear-gradient(90deg, rgb(144, 14, 253),rgb(74, 115, 255));}
.body_bg_3{ background: linear-gradient(135deg, rgb(243, 107, 55) 0%, rgb(243, 107, 55) 23%,rgb(244, 133, 60) 23%, rgb(244, 133, 60) 27%,rgb(245, 159, 64) 27%, rgb(245, 159, 64) 73%,rgb(245, 186, 69) 73%, rgb(245, 186, 69) 74%,rgb(246, 212, 73) 74%, rgb(246, 212, 73) 78%,rgb(247, 238, 78) 78%, rgb(247, 238, 78) 100%);}
.body_bg_4{ background: linear-gradient(90deg, rgb(242, 129, 48) 0%, rgb(242, 129, 48) 12.5%,rgb(225, 115, 75) 12.5%, rgb(225, 115, 75) 25%,rgb(209, 100, 102) 25%, rgb(209, 100, 102) 37.5%,rgb(192, 86, 129) 37.5%, rgb(192, 86, 129) 50%,rgb(176, 72, 155) 50%, rgb(176, 72, 155) 62.5%,rgb(159, 58, 182) 62.5%, rgb(159, 58, 182) 75%,rgb(143, 43, 209) 75%, rgb(143, 43, 209) 87.5%,rgb(126, 29, 236) 87.5%, rgb(126, 29, 236) 100%);}
.body_bg_5{ background: linear-gradient(135deg, rgb(243, 107, 55) 0%, rgb(243, 107, 55) 23%,rgb(244, 133, 60) 23%, rgb(244, 133, 60) 27%,rgb(245, 159, 64) 27%, rgb(245, 159, 64) 73%,rgb(245, 186, 69) 73%, rgb(245, 186, 69) 74%,rgb(246, 212, 73) 74%, rgb(246, 212, 73) 78%,rgb(247, 238, 78) 78%, rgb(247, 238, 78) 100%);}
.body_bg_6{ background: linear-gradient(90deg, rgb(74, 43, 200) 0%, rgb(74, 43, 200) 11%,rgb(73, 72, 204) 11%, rgb(73, 72, 204) 14%,rgb(73, 102, 208) 14%, rgb(73, 102, 208) 22%,rgb(72, 131, 212) 22%, rgb(72, 131, 212) 29%,rgb(71, 160, 215) 29%, rgb(71, 160, 215) 49%,rgb(70, 189, 219) 49%, rgb(70, 189, 219) 59%,rgb(70, 219, 223) 59%, rgb(70, 219, 223) 70%,rgb(69, 248, 227) 70%, rgb(69, 248, 227) 100%); }

ul, ol {
    /* width: 100%; */
    /* list-style-type: none; */
    margin: 0; /* To remove default bottom margin */
    padding: 0; /* To remove default left padding */
}

ul > li, ol > li{
    padding: 4px;
}

/* --------- CONTAINERS ---------------------------------------- */

.container {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr) );
    display: grid;
    /* the following value was commented, making the event look overly compressed in a screen > full hd*/
    grid-row-gap: 1em;
    grid-column-gap: 1em;
    padding-top: 0.3em;
}

/*
# -----------------------------------------------------------------------------------------
# CONTAINER FOR MONTH, DATE & NAVIGATION ARROWS
# -----------------------------------------------------------------------------------------
*/

.header_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 50px;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
    grid-column: 1/4;
    border-radius: 5px;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    border: white 1px solid;
    box-shadow: 1px 1px 2px black;
}

#upper_calen, #upper_rank, #upper_set, #upper_log, .upper_user, #upper_togl{
    /* grid-column: 10/11; */
    border-right: lightgray 1px solid;
}

.day_container {
    display: grid;
    grid-template-columns: 1.25fr 1.25fr 0.5fr;
    grid-column: 1/4;
    color: white;
}

.upper_user img{ width: 40px; }

/* --------- CELLS ---------------------------------------- */

.cell {
    display: grid;
    grid-template-columns: 0.3fr 1.5fr 1fr;
    /*
    grid-template-columns: repeat(auto-fill);
    */
    grid-template-rows: auto auto auto auto auto auto;
    grid-gap: 0.1em;
    box-shadow: 3px 3px 3px rgb(58 53 53);
    background: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
    border-radius: 0.8em 0;
}

.chat_cell {
    min-width: 376px;
    height: 437px;
    display: grid;
    /*grid-template-columns: 0.5fr 1.3fr 160px;*/
    grid-template-rows: 7fr 1fr;
    grid-gap: 1px;
    box-shadow: 5px 5px 5px rgb(58, 53, 53);    
    border-radius: 15px;    
    background-image: url("../img/zap.png");
    background-size: cover;
    overflow: hidden;
}

.day_cell {
    grid-column: 1/3;
    background: linear-gradient(to right, rgb(15, 32, 39), rgb(32, 58, 67), rgb(44, 83, 100));
    text-shadow: 1px 1px 1px black;
}

.quickJoin_cell p{
    font-size: 12px;
}

.icon-small{
    width: 35px;
}


/* --------- CLASSES ---------------------------------------- */

.header, .day{
    text-shadow: 2px 1px 1px black;
}

.title{
    background-color: darkgray;
    border-radius: 0px 5px 15px 0px;
    box-shadow: 1px 1px 1px dimgrey;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.slot{
    grid-column: 2/3;
}

.jogo{
    grid-column: 2/4;
}

.lastM{
    display: none;
}

/*
.table_cell{
    font-family: 'Caesar Dressing', cursive;
    font-size: 18px;
}
*/

.hide{
    display:none!important;
}

/*
.listplayer{
    justify-content: left;
    display: flex;
    align-items: center;
}
*/


.place_hour_container{
    display: grid;
    grid-template-columns: 50% 50%;
}

/* --------- CHAT DIV ---------------------------------------- */

.feed{
    grid-row: 1/7;    
    /* font-size: 12px; */
    overflow: auto;
}

.feed > ul{
    padding: 11px;
    width: initial;
}

.feed ul li{    
    background: skyblue;
    border-radius: 5px;
    margin-bottom: 5px;
    padding: 10px;
    box-shadow: 1px 1px 1px slategray;
}

.feed ul li:nth-child(odd){
    background: lightgreen;
}

.chat_menu{
    grid-row: 7/8;    
    height: 52px;
    border-radius: 0px 5px 15px 0px;
}

.chat_menu input[type=text], select {
    width: 60%;
    padding: 10px;
    margin: 5px 8px 8px;
    display: inline-block;    
    border-radius: 4px;
    box-sizing: border-box;
    background: #f7f7f7;
  }

.chat_header{    
    color : white;
    text-shadow : 1px 1px 1px black;
}

.chat_msg{
    margin-left: 8px;
    text-shadow : 1px 1px 1px lightgray;
}

.timestamp{
    color : initial;
    font-family: Arial, Helvetica, sans-serif;
    /* font-size: 10px; */
    text-shadow : 0px 0px 0px black;
}

.chat_menu .chat_btn{    
    background-color: #333333;
    border: none;
    border-radius: 20px;
    color: white;
    padding: 6px 44px;
    text-decoration: none;
    margin: 3px 1px;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    box-shadow: 1px 1px 1px slategrey;
  }

  .chat_menu .chat_btn:hover{
    background-color: #00ad5f;
  }

/* --------- MULTI-SELECTOR ---------------------------------------- */


.title, .slot, .header_cell.header_cell, .day_cell, .hora, .edit , .join, .count, .ev_pend, .ev_conf, .ev_canc, .ev_real, .place, .table_cell, .icon-small {
    display: grid;
    justify-items: center;
    align-items: center;
}

.edit{
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

.flex_center_hor_ver{
    display: flex;
    justify-content: center;
    align-items: center;
}

.jogo, *[class^='players-'], .place, .hora, .slot, .edit, .count, .ev_pend, .ev_conf, .ev_canc, .ev_real, .game_thumb, .day_cell, .join{
    box-shadow: 0.6px 0.6px 0.6px darkgray;
    border-radius: 0px 5px 15px 0px;
}

/*.jogo, .players {*/
.jogo {
    display: flex;
    justify-content: left;
    align-items: center;
    padding-left: 0.4em;
    padding-right: 0.4em;
}
/* Accomodates the names and/or photos of players that joined the event */
.players-2, .players-4, .players-6, .players-8
{
  display: grid;
  grid-auto-flow: column;
  padding: 0.3em;
  grid-gap: 0.3em;
  box-sizing: border-box;
  /* justify-items: center; */
}

.players-4, .players-2 { grid-template-columns: 1fr 1fr; grid-template-rows: 1fr 1fr; }
.players-6 {grid-template-columns: 1fr 1fr 1fr;grid-template-rows: 1fr 1fr;}
.players-8 { grid-template-columns: 1fr 1fr 1fr 1fr; grid-template-rows: 1fr 1fr; }

*[class^='players-'] img
{
  width: -webkit-fill-available;
  height: calc(100px - 0.6em);
  border-radius: 5px;
  box-shadow: 0.12em 0.12em 0.12em darkgrey;
  border: 0.1em solid dimgray;
  animation: pulse 1s infinite;
  /* clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%); */
  box-sizing: border-box;
}

.players_ranking {
    display: grid;
    grid-template-columns: 0.2fr 2.3fr 0.5fr;
    grid-template-rows: repeat(5, auto);
    grid-auto-flow: row;
    justify-items: initial;
    align-items: center;
    padding: 1em;
    grid-gap: 0.3em;
}

.join {
    padding: 0.3em;
    grid-gap: 0.3em;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }

.player-img-fallback {
    /* this URL here is theoretically a local one (always reachable) */
    background-image: url('img/anon.png');
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);    
  }
}


.image-caption {
    font-size: x-small;
    position: absolute;
    border-radius: 4px;
    top: 69%; /* Adjust as needed */
    left: 26.5%; /* centers the element horizontally */
    transform: translateX(-50%); /* centers the element horizontally */
    text-align: center; /* centers the text */
    width: 50%; /* makes sure the text fills the width of the container */
    color: white; /* makes sure the text is visible */
    text-shadow: 1px 1px 1px black;
    background-color: rgba(0, 0, 0, 0.5); /* makes the background color semi-transparent */
    padding: 0.1px;
    border: 1px solid dimgray;
  }

/* --------- SIMILARITY ---------------------------------------- */

.ev_pend, .ev_conf, .winner {
    color: white;
    text-shadow: 1px 1px 1px black;
}

.js_ev_closed, .js_event_expiring{    
    box-shadow : 0.5px 0.5px 0.5px grey;
    border-radius: 0px 5px 15px 0px;
    color : white;
    text-shadow : 1px 1px 1px black;
    font-family: 'Righteous', cursive;
    display: flex;
    justify-content: center;
    align-items: center;
}

.js_ev_closed{ background-color : salmon; }
.js_event_expiring{ background-color : khaki; }
.ev_conf{background: lightgreen;}
.ev_pend{ background-color: lavender; }

/* --------- IMAGES ---------------------------------------- */

.btn_new img{
    width:50px; /* you can use % */
    transition:transform 0.25s ease;
    border-radius: 50%;
}

.header_container img:hover {
    -webkit-transform:scale(1.1); /* or some other value */
    transform:scale(1.1);
}

.join img, a{
    height: 35px;
}

.table_cell img{
    width: 80px;
}

.edit img{
    width: 38px;
    /* margin-left: 9px; */
}

.edit_img img{
    margin-left: 10px!important;
}

.img_nr_list{
    box-shadow: 2px 2px 1px darkgrey;
    border-radius: 5px;
}

.winner{
    padding: 0.2em;
    border-radius: 0.3em;
    /*background: #fefcea; /* Old browsers */
     /* Old browsers */
     /* FF3.6-15 */
     /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffd65e 0%,#febf04 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    /*
    background: rgba(255, 204, 29, 1);
    /* color: #111; */
    animation: glowing 1s ease-in-out infinite alternate;
  }
  
  @keyframes glowing {
    from {
      box-shadow: 0 0 2.5px #fbeb5c, 0 0 5px #88961f, 0 0 7.5px rgb(186 179 62), 0 0 10px #0ff, 0 0 12.5px rgb(245 186 69), 0 0 15px #c6bb08, 0 0 17.5px #e3dd12;
    }
    to {
      box-shadow: 0 0 5px rgb(194, 238, 0), 0 0 7.5px rgb(247 238 78), 0 0 10px #e1cc07, 0 0 12.5px #bbff00, 0 0 15px #f3c431, 0 0 17.5px #e6e800, 0 0 20px #fffff7;
    }
  }

.time_img{
    height: 20px;
    margin-left: 15px;
    margin-right: 15px;

}

/* --------- ANIMATION ---------------------------------------- */

/*
.table_cell img {    
    border-radius: 10%;
    animation: bounce 1s infinite alternate;
    -webkit-animation: bounce 1s infinite alternate;
  }
  @keyframes bounce {
    from {
        transform: translateY(7px);
    }
    to {
        transform: translateY(-7px);
    }
  }
  @-webkit-keyframes bounce {
    from {
        transform: translateY(7px);
    }
    to {
        transform: translateY(-7px);
    }
  }
  */

.game_thumb {
    position: relative;
    overflow: hidden;
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 0.5em;
  }

.game_thumb img{
    max-width: 200px;
    border-radius: 5px;
    height: -webkit-fill-available;
  }

  .game_thumb:after {
    
    animation: shine 5s ease-in-out  infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -110%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    
    background: rgba(255, 255, 255, 0.13);
    background: linear-gradient(
      to right, 
      rgba(255, 255, 255, 0.13) 0%,
      rgba(255, 255, 255, 0.13) 77%,
      rgba(255, 255, 255, 0.5) 92%,
      rgba(255, 255, 255, 0.0) 100%
    );
  }
  
  .game_thumb:active:after {
    opacity: 0;
  }
  
  @keyframes shine{
    10% {
      opacity: 1;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
      transition-duration: 0.7s, 0.7s, 0.15s;
      transition-timing-function: ease;
    }
    100% {
      opacity: 0;
      top: -30%;
      left: -30%;
      transition-property: left, top, opacity;
    }
  }


/*######################################################
# TOGGLE SWITCH FOR FUTURE EVENTS
######################################################*/


.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(16px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .image-container {
    position: relative; /* Make sure the caption is positioned relative to this element */
  }

  
/*######################################################
# SMALLER SCREENS
######################################################*/


/* --------- MEDIA ----------------------------------------- */
@media only screen and ( max-width: 1007px)
{
    .container {
        display: grid;
        /* grid-template-columns: repeat(3, 1fr); */
    }

    .header_container{
        grid-column: 1/5;
    }
}


/*######################################################
# MOBILE PHONES
######################################################*/


@media only screen and ( max-width: 640px)
{
    html{
        height: 100%;
    }
    body {
    background-attachment: fixed;
    /*font-size: 15px!important;*/
    }

    .container {
    display: block;
    padding: 0.1em;
    }

    .cell {
    grid-template-columns: 15% 45% 40%;
    grid-gap: 0.1em;
    margin-bottom: 1em;
    }

    .chat_cell{
    min-height: 408.5px;
    grid-gap: 0.1em;
    margin-top: 2em;
    }

    .header_container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    margin-bottom: 0.5em;
    }

    .table_cell img{
    width: 60px;
    }

    #left_upper_arrow{
    grid-column: 4/5;
    }

    #upper_ym{
    grid-column: 5/6;
    }

    #pod_icon{
    display: none;
    }

    .game_thumb img {
        /*
        max-height: 100px;
        max-width: 100px;
        */
        padding: 0px;
        border-radius: 5px;
        max-width: 135px;
        /* box-shadow: darkgrey 2px 2px 4px 2px; */
    }
    
}
 